<p id="notice"><%= notice %></p>

<h1>Meetup Shops</h1>

<table>
  <thead>
    <tr>
      <th>Meetup</th>
      <th>Shop</th>
      <th>Fix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetup_shops.each do |meetup_shop| %>
      <tr>
        <td><%= meetup_shop.meetup %></td>
        <td><%= meetup_shop.shop %></td>
        <td><%= meetup_shop.fix %></td>
        <td><%= link_to 'Show', meetup_shop %></td>
        <td><%= link_to 'Edit', edit_meetup_shop_path(meetup_shop) %></td>
        <td><%= link_to 'Destroy', meetup_shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetup Shop', new_meetup_shop_path %>
